cache:
  yarn: true

addons:
  chrome: stable

before_install:
  - yarn --version

script:
  - yarn install
  - yarn eslint src
  - yarn eslint test
  - yarn test
  - yarn webpack
  - yarn backstop test