html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.placeholder {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -webkit-calc(-282px);
}

.slick-slider {
    height: 100%;
    width: auto;
    display: none;
}

.slick-list {
    height: 100%;
    width: auto;
}

.slick-track {
    height: 100%;
    width: auto;
}

.smile {
    height: 100%;
    width: auto;
    position: relative;
}

.smile img {
    height: 75%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -webkit-calc(-50%) 0 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 1%;
    border: 10px solid #242424;
    border-right-color: black;
    border-left-color: black;
    background-image: linear-gradient(to left, #dadada, #eee, #dadada);
}
