html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.placeholder {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -282px;
}

.slick-slider {
    height: 100%;
    width: auto;
    display: none;
}

.slick-list {
    height: 100%;
    width: auto;
}

.slick-track {
    height: 100%;
    width: auto;
}

.smile {
    height: 100%;
    width: auto;
    position: relative;
}

.smile img {
    height: 75%;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 1%;
    border: solid 1vw;
    border-top-color: #242424;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: #242424;
    background-image: linear-gradient(to left, #dadada, #eee, #dadada);
}